<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmins:th="http://ww.thymeleaf.org">
    <head>
        <title>IODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="vievport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <hl th:text="$(titulo]"X/hl>
        I
        <table>
            <th:block th:each="user : ${personas} ">
                <tr>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellidol}"></td>
                    <td th:text="${user.getApellido2}"></td>
                    <td th:text="${user.getEmail}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <td> 
            </th:block>
        </table>
    </body>
</html>